<%- include('layouts/main') %>

<div class="container">
    <div class="row">
        <main class="col-md-12">
            <br>
            <h1>Welcome to the About Page</h1>
            <p>This page provides information about me and my academic journey.</p>

            <h2>About Me</h2>
            <p>My name is Nabin Chhetri. I am a student at Seneca College with the student ID 170439236. I am currently enrolled in the <a href="https://www.senecapolytechnic.ca/programs/fulltime/BTT.html" target="_blank">Ontario Graduate Certificate in Business Information Technology (BTT) </a> program.</p>

            <p>I am passionate about web development and excited to learn and apply new technologies in creating dynamic and responsive web applications.</p>
        </main>
    </div>
</div>
