<%- include('layouts/main') %> 
<div class="container">
    <div class="row">
        <main class="col-md-12">
            <br>
            <h1>Welcome to my website</h1>
            <p>I will be demonstrating HTML5 principles and techniques, Routing in Express, and other web development concepts.</p>

            <h2>Site Content</h2>
            <p>This site consists of 3 static views (<a href="/">Home</a>, <a href="/about">About</a>, <a href="/htmlDemo">HTML Demo</a>) as well as 5 routes that supply data, including:
                <a href="/students">All Students</a>, 
                <a href="/students?course=3">Students by Course</a>, 
                <a href="/student/2">A Single Student By Student Number</a>, 
                <a href="/tas">All Teaching Assistants</a>, and 
                <a href="/courses">All Courses</a>.
            </p>

            <h2>About HTML 5</h2>
            <p>This site utilizes HTML5: a markup language used for structuring and presenting content on the World Wide Web. It is the fifth and latest major version of HTML that is a World Wide Web Consortium (W3C) recommendation. HTML5 aims to improve the language with support for the latest multimedia and other new features; to keep it easily readable by humans and consistently understood by computers and devices.</p>
        </main>
    </div>
</div>
